spring:
  resources:
    static-locations: classpath:/static/,classpath:/upload/
  datasource:
    password: Hello.001
    url: jdbc:mysql://127.0.0.1:3306/meter_box_system?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&useLegacyDatetimeCode=false&nullNamePatternMatchesAll=true&zeroDateTimeBehavior=CONVERT_TO_NULL&tinyInt1isBit=false&autoReconnect=true&useSSL=false&pinGlobalTxToPhysicalConnection=true&allowMultiQueries=true
    driverClassName: com.mysql.cj.jdbc.Driver
    username: root
    druid:
      initialSize: 5
      minIdle: 5
      maxActive: 20
      # 配置从连接池获取连接等待超时的时间
      maxWait: 60000
      #配置间隔多久启动一次DestroyThread，对连接池内的连接才进行一次检测，单位是毫秒。
      #检测时:1.如果连接空闲并且超过minIdle以外的连接，如果空闲时间超过minEvictableIdleTimeMillis设置的值则直接物理关闭。2.在minIdle以内的不处理。
      timeBetweenEvictionRunsMillis: 60000
      #配置一个连接在池中最大空闲时间，单位是毫秒
      minEvictableIdleTimeMillis: 300000
      #检验连接是否有效的查询语句。如果数据库Driver支持ping()方法，则优先使用ping()方法进行检查，否则使用validationQuery查询进行检查。(Oracle jdbc Driver目前不支持ping方法)
      validationQuery: SELECT 1 FROM DUAL
      #设置从连接池获取连接时是否检查连接有效性，true时，如果连接空闲时间超过minEvictableIdleTimeMillis进行检查，否则不检查;false时，不检查
      testWhileIdle: true
      #设置从连接池获取连接时是否检查连接有效性，true时，每次都检查;false时，不检查
      testOnBorrow: false
      #设置往连接池归还连接时是否检查连接有效性，true时，每次都检查;false时，不检查
      testOnReturn: false
      #打开PSCache，并且，Oracle等支持游标的数据库，打开此开关，会以数量级提升性能，具体查阅PSCache相关资料
      poolPreparedStatements: false
      #指定每个连接上PSCache的大小
      #maxPoolPreparedStatementPerConnectionSize: 20

mybatis:
  type-aliases-package: com.klec.importexcel.model
  mapper-locations: classpath:mapper/*.xml
  configuration:
    #驼峰映射
    map-underscore-to-camel-case: true
    #字段为null时，也调用set方法（此项目中有些查询直接返回了Map类型，造成数据库某字段为null时，连字段也丢失了）
    call-setters-on-nulls: true