<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.klec.importexcel.mapper.MeterMapper">

    <insert id="save2" useGeneratedKeys="true" keyProperty="meterId" keyColumn="meter_id">
        INSERT INTO t_d_meter (meter_id, cons_no, cons_name, update_time, cons_address, asset_id, bar_code)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.meterId},
            #{item.consNo},
            #{item.consName},
            #{item.updateTime},
            #{item.consAddress},
            #{item.barCode},
            #{item.barCode}
            )
        </foreach>
    </insert>

    <insert id="saveBox2" useGeneratedKeys="true" keyProperty="boxId" keyColumn="box_id">
        INSERT INTO t_d_meter_box (asset_id,bar_code)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.boxBarCode},#{item.boxBarCode})
        </foreach>
    </insert>


    <insert id="saveData">
        INSERT INTO t_d_meter (cons_no, cons_name, update_time, cons_address, asset_id, bar_code)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.consNo},
            #{item.consName},
            #{item.updateTime},
            #{item.consAddress},
            #{item.assetId},
            #{item.barCode}
            )
        </foreach>
    </insert>

    <insert id="saveMeterBoxRelation">
        INSERT INTO t_d_box_and_meter (box_id, meter_id)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.boxId},#{item.meterId})
        </foreach>
    </insert>
    <insert id="saveMeterBoxRelationShip" parameterType="Long">
        INSERT INTO t_d_box_and_meter (box_id, meter_id)
        VALUES
            (#{boxId}, #{meterId})
    </insert>
    <insert id="saveBox" useGeneratedKeys="true" keyProperty="boxId">
        INSERT INTO t_d_meter_box (asset_id, bar_code)
        values (#{boxBarCode},
                #{boxBarCode})
    </insert>

    <insert id="save" useGeneratedKeys="true" keyProperty="meterId">
        INSERT INTO t_d_meter (meter_id, cons_no, cons_name, update_time, cons_address, asset_id, bar_code)
        values (#{meterId},
                #{consNo},
                #{consName},
                #{updateTime},
                #{consAddress},
                #{barCode},
                #{barCode})
    </insert>

    <select id="queryByBarCode" resultType="com.klec.importexcel.model.Meter">
        select box_id, bar_code
        from t_d_meter_box
        where bar_code = #{barCode}
    </select>

    <select id="query" resultType="com.klec.importexcel.model.Meter">
        select meter_id, bar_code
        from t_d_meter
        where bar_code = #{barCode}
    </select>
</mapper>